a {
  color: #9d3318; }

body {
  background-color: #82662b; }

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 880px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px;
  -webkit-border-radius: 5px; }

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px; }

#header {
  height: 60px;
  padding: 10px; }
  #header a {
    color: #66c0e7; }
  #header div {
    float: right;
    text-align: right; }
  #header p {
    margin: 0px; }
  #header h1 {
    clear: none;
    float: left;
    margin: 0px; }
    #header h1 a {
      text-decoration: none; }
    #header h1 a:hover {
      font-weight: bold; }

#nav {
  border-bottom: 3px solid rgba(157, 51, 24, 0.1);
  font-size: 18px;
  padding: 10px; }
  #nav a {
    text-decoration: none; }
  #nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px; }
  #nav ol {
    padding: 0px;
    margin: 0px; }

#content {
  min-height: 200px;
  padding: 10px;
  background-image: url("/images/line.png"); }

#footer {
  padding: 10px;
  text-align: center; }

#p-onebutton {
  position: absolute;
  padding-left: 5px; }
