<div class="span-15 colborder">
  <h2> Make a desktop background from a Google+ stream!</h2>
  <form name='imgsettings' id='imgsettings' method="post">
    <h3>Image Type</h3>
    <div class='prepend-1 form-section'>
      <input type=radio name="imgtype" value="tag" id='tag-radio' checked onClick='change_form("tag");' > 
      <label for='tag-radio'>Hash Tag</label><br>
      <input type=radio name="imgtype" value="person" id='person-radio' onClick='change_form("person");' >
      <label for='person-radio'>Person</label><br>
    </div>
    <div id='hash-input'>
      <h3>Hash Tag</h3>
      <div class='prepend-1 form-section'>
        <label for='hash-tag'>Hash Tag</label>
        <input type=text name='tag' id='hash-tag' size=50 maxlength=75 onclick="lookupLocal();" autocomplete='off' >
        <br>
        <label for='order'>Order By: </label>
        <select name="order">
          {% for option in orderings %}
            <option selected value="{{ option }}">{{ option }}</OPTION>
          {% endfor %}
        </select>
      </div>
    </div>
    <div id='person-input' class='hide'>
      <h3>Person's user ID</h3>
      <div class='prepend-1 form-section'>
        <label for='person'>User ID#</label>
        <input type=text name='person' size=50 maxlength=21 >
        <p>This comes from their profile url: https://plus.google.com/[user ID#]/posts</p>
      </div>
    </div>
    <h3>Size</h3>
    <div class='prepend-1 form-section'>
      <label for='width'>Width</label>
      <input type=text name='width' size=5 maxlength=5 value='{{ dft_width }}' >
      <label for='height' class='prepend-1'>Height</label>
      <input type=text name='height' size=5 maxlength=5 value='{{ dft_height }}' >
    </div>
    <div id='submit'>
      <a class='button' href="#" onclick="javascript:document.imgsettings.submit();">Get Image</a>
    </div>
  </form>
</div>
<div class="span-7 last">
  <h2> Examples </h2>
  Coming soon...

  <h2> Hash Tags </h2>
  <p>
    Here's a great list of photo theme hash tags!
    <a href='http://ericleslie.com/guides/daily-photography-themes-googleplus/'>
    http://ericleslie.com/guides/daily-photography-themes-googleplus/
    </a>
  </p>
    Although I recomend using a photo theme hash tag so you'll get enough images, 
    you can use any hash tag or search you'd like! 
  <p>
    
  </p>
</div>
      

<script type="text/javascript">
    function change_form(type) {
      if(type == 'person') {
        $('#hash-input').addClass('hide');
        $('#person-input').removeClass('hide');
      }
      else {
        $('#person-input').addClass('hide');
        $('#hash-input').removeClass('hide');
      }
    }

    function findValue(li) {
      var sValue = li.selectValue;
    }
    
    function selectItem(li) {
      findValue(li);
    }
    
    function lookupLocal(){
      var oSuggest = $("#hash-tag")[0].autocompleter;
    
      oSuggest.findValue();
    
      return false;
    }
    
    $(document).ready(function() {
      $("#hash-tag").autocompleteArray(
        [
          {% for tag in suggestions %}
            '{{ tag }}',
          {% endfor %}
          '{{ last_tag }}'
        ],
        {
          delay:10,
          minChars:1,
          matchSubset:1,
          onItemSelect:selectItem,
          onFindValue:findValue,
          autoFill:true,
          maxItemsToShow:10
        }
      );
    });
</script>