 <!DOCTYPE html>
 <html itemscope itemtype="http://schema.org/Product">
  <head>
    <title>
      Resume Portions
    </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
    <link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css">
    
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- +1 button data -->
    <meta itemprop="name" content="Resume Portions">
    <meta itemprop="description" content="Orginize your resume!">
    <meta itemprop="image" content="http://photohash.appspot.com/images/PhotoHashG.png">  
  </head>
  
  <body>
    <div id="container">
      <div id="header">
         <h1>
           <a href='/'>R&eacute;sum&eacute; Portions</a> 
         </h1>
         <div>
           <p id="user"> 
              {{greeting}}
           </p>
           <p>
             (<a href="{{url}}">{{sign_inout}}</a>)
           </p>
        </div>
      </div>

      <div id='nav'>
        <ol>
          <li>
            <a href="/resume">R&eacute;sum&eacute;</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/tips">Tips</a>
          </li>
          <li>
            <a href="/donate">Donate</a>
          </li>
        </ol>
      </div>

      <div id='content'>
      {% include content %}
      </div>


      <div id='footer'>
          <p>
            Created by 
            <a href='http://amyciavolino.com'>Amy Ciavolino</a> and
            <a href='http://userpages.umbc.edu/~markpa1/'>Mark Pallone</a>
            &copy;2011 |
            <span id='p-onebutton'>
              <g:plusone href='http://resumeportions.appspot.com/' size='small'></g:plusone>
              <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
              </script>
            </span>
          </p>
        </div>
      </div>
  </body>
</html>
